
.products{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #212529;

    padding: 20px 90px;
}
.navComp{
    color:#6c757d !important;
}
.navComp{
    display: flex;
    background-color: #212529;

    gap: 10px;
    list-style-type: none;
    text-decoration: none;
    font-style: none;
}
.navbarName{
    color: white;
}
